VITE_PROCESSOR_API=https://api.samsar.one
VITE_CLIENT_URL=http://localhost:3000
VITE_SAMSAR_DEPLOYMENT_EDITION=production
VITE_CURRENT_ENV=production
VITE_STATIC_CDN_URL=https://static.samsar.one
VITE_PUBLISHER_URL=https://gallery.samsar.one
VITE_AUTH_COOKIE_DOMAIN=
